@model DCUniverseLens.Entidades.EF.Pelicula

@{
    ViewData["Title"] = "Detalles de Película";
}

<section class="home-hero">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-6">
                <div class="card shadow-lg personaje-card">
                    <div class="card-header text-center bg-gradient text-white">
                        <h3 class="m-0">@Model.Nombre</h3>
                    </div>

                    <div class="card-body text-light">
                        <div class="row">
                            <!-- Imagen del póster a la izquierda -->
                            <div class="col text-center">
                                <img src="@Url.Content("~/images/peliculas/" + Model.Id + ".jpg")"
                                     class="img-fluid rounded"
                                     style="height: auto; object-fit: contain; "
                                     alt="Póster de @Model.Nombre" />
                            </div>

                            <!-- Información de la película + botón abajo alineado -->
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <ul class="list-unstyled ps-0 mb-0">
                                    <li class="mb-2">
                                        <strong>Nombre</strong> <p>@Model.Nombre</p>
                                    </li>
                                    <li class="mb-2">
                                        <strong>Año de estreno</strong> <p> @Model.Ano</p>
                                    </li>
                                    <li>
                                        <strong>Descripción</strong> <p>@Model.Descripcion</p>
                                    </li>
                                </ul>

                                @if (ViewBag.IdPersonaje != null)
                                {
                                    <div class="d-flex justify-content-end">
                                        <a asp-controller="Personaje"
                                           asp-action="Detalles"
                                           asp-route-id="@ViewBag.IdPersonaje"
                                           class="btn btn-outline-light">
                                            Volver al personaje
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
